{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modification du mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modification du mot de passe</h1>
        <div>
            {{ form_errors(form_edit_password) }}
            {{ form_start(form_edit_password) }}
            {{ form_widget(form_edit_password) }}

            <button type="submit" class="btn">Changer mon mot de passe</button>
            {{ form_end(form_edit_password) }}
        </div>
    </div>
{% endblock %}
