{% extends 'base.html.twig' %}

{% block title %}
    Liste des sorties | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Liste des sorties</h1>

    <p>Filtrer les sorties</p>
    <a href="{{ path('trip_newTrip') }}" title="Ajouter une sortie"><button class="button user_btn">Ajouter une sortie</button></a>
    <p>Campus : {{ user.campus.name }}</p>
    <p>Le nom de la sortie contien : {% include "searchData.html.twig"%}</p>

    <p>Date & Heure du Jour : {{ "now"|date_modify('+1 hour')|date('d-m-Y H:i') }}</p>

    {{ form_start(formDTO) }}

    {{ form_row(formDTO.getDateTimeStart) }}
    {{ form_row(formDTO.getDateTimeEnd) }}
    {{ form_row(formDTO.getOrganizer) }}
    {{ form_row(formDTO.getSubscribe) }}
    {{ form_row(formDTO.getUnsubscribe) }}
    {{ form_row(formDTO.getLastTrip) }}

    {{ form_end(formDTO) }}



    <h2>Liste des sorties</h2>
    <section class="trip-list">
        <table>
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/Places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for trip in trips %}
                <tr>
                    <td>{{ trip.name }}</td>
                    <td>{{ trip.dateTimeStart|date('d-m-Y H:i') }}</td>
                    <td>{{ trip.registrationDeadline|date('d-m-Y H:i') }}</td>
                    <td class="centered-cell">{{ trip.participants|length }} / {{ trip.maxNumbRegistration }}</td>
                    <td>
                        {% if trip.shape %}
                            {{ trip.shape.wording }}
                        {% else %}
                            État inconnu
                        {% endif %}
                    </td>
                    <td>
                        {% if app.user %}
                            {% if trip.participants|length >= trip.maxNumbRegistration %}
                                <p class="trip-list" title="x">x</p>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if trip.organizer %}
                            {{ trip.organizer.firstname }} {{ trip.organizer.lastname }}
                        {% else %}
                            Organisateur inconnu
                        {% endif %}
                    </td>
                    <td>
                        {% if app.user %}

                            <!-- ========================================================== -->
                            {% if trip.shape %}
                                {% if trip.shape.wording == 'Ouvertes' %}
                                    {% if app.user %}
                                        {% set isRegistered = false %}
                                        {% for participant in trip.participants %}
                                            {% if participant.id == app.user.id %}
                                                {% set isRegistered = true %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if isRegistered %}
                                            <a href="{{ path('trip_trip-show', {'id': trip.id}) }}" title="Afficher">Afficher</a>
                                            <a href="{{ path('trip_unsubscribe-trip', {'id': trip.id}) }}" title="Se désister">Se désister</a>
                                        {% else %}
                                            {% if trip.participants|length < trip.maxNumbRegistration %}
                                                <a href="{{ path('trip_trip-show', {'id': trip.id}) }}" title="Afficher">Afficher</a>
                                                <a href="{{ path('trip_trip-register', {'id': trip.id}) }}" title="S'inscrire">S'inscrire</a>
                                            {% else %}
                                                <!-- Ne rien afficher -->
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                    <!-- ========================================================== -->
                                    <!-- ========================================================== -->
                                {% elseif trip.shape.wording == 'En création' %}
                                    <a href="#" title="Modifier">Modifier</a>
                                    <a href="#" title="Publier">Publier</a>
                                {% else %}
                                    <!-- Ne rien afficher -->
                                {% endif %}
                            {% else %}
                                <!-- État inconnu -->
                            {% endif %}
                            <!-- ========================================================== -->
                            <!-- ========================================================== -->
                            {% if trip.shape %}
                                {% if trip.shape.wording == 'En cours' %}
                                <td><a href="{{ path('trip_trip-show', {'id': trip.id}) }}">{{ trip.name }}</a></td>
                                {% else %}
                                    <!-- Ne rien afficher -->
                                {% endif %}
                            {% else %}
                                <!-- État inconnu -->
                            {% endif %}
                            <!-- ========================================================== -->
                            <!-- ========================================================== -->
                            {% if trip.shape %}
                                {% if trip.shape.wording == 'Clôturées' %}
                                    {% if app.user %}
                                        {% set isRegistered = false %}
                                        {% for participant in trip.participants %}
                                            {% if participant.id == app.user.id %}
                                                {% set isRegistered = true %}
                                            {% endif %}
                                        {% endfor %}

                                        {% if isRegistered %}
                                            {% if trip.dateTimeStart >= currentDateTime %}
                                                <a href="{{ path('trip_trip-show', {'id': trip.id}) }}" title="Afficher">Afficher</a>
                                                <a href="{{ path('trip_list', {'id': trip.id}) }}" title="Se désister">Se désister</a>
                                            {% elseif trip.dateTimeStart < currentDateTime %}
                                                <a href="{{ path('trip_trip-show', {'id': trip.id}) }}" title="Afficher">Afficher</a>
                                            {% endif %}
                                        {% else %}
                                            <a href="{{ path('trip_trip-show', {'id': trip.id}) }}" title="Afficher">Afficher</a>
                                        {% endif %}
                                    {% else %}
                                        <a href="{{ path('trip_trip-show', {'id': trip.id}) }}" title="Afficher">Afficher</a>
                                    {% endif %}
                                {% else %}
                                    <!-- Ne rien afficher -->
                                {% endif %}
                            {% else %}
                                <!-- État inconnu -->
                            {% endif %}
                            <!-- ========================================================== -->

                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>





    <a href="{{ path('trip_newTrip') }}" title="New Trip"><button>Créer une sortie</button></a>
{% endblock %}