{% extends 'base.html.twig' %}

{% block title %}
    Liste des sorties | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Liste des sorties</h1>

    <p>Filtrer les sorties</p>
    <p>Campus, a remplacer par la liste de choix des campus</p>
    <p>Le nom de la sortie contien : {% include "searchData.html.twig"%}</p>

    <h2>Liste des sorties</h2>
    <section class="trip-list">
        <table>
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/Places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for trip in trip %}
                <tr>
                    <td>{{ trip.name }}</td>
                    <td>{{ trip.dateTimeStart }}</td>
                    <td>{{ trip.registrationDeadline }}</td>
                    <td>{{ trip.maxNumbRegistration }}</td>
                    <td>{{ trip.statut }}</td>
                    <td>
                        <a href="#">Afficher</a>
                        {% if user.username %}
                        <a href="#" title="{{ user.pseudo }}">{{ user.username }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>





    <a href="{{ path('app_newTrip') }}" title="New Trip"><button>Créer une sortie</button></a>
{% endblock %}