{% extends 'base.html.twig' %}

{% block title %}Liste des sorties | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Liste des sorties</h1>

    <p>Filtrer les sorties</p>

    <p>Campus : {{ user.campus.name }}</p>
    <p>Le nom de la sortie contient : {% include "searchData.html.twig"%}</p>

    <p>Date & Heure du Jour : {{ "now"|date_modify('+1 hour')|date('d-m-Y H:i') }}</p>

    {{ form_start(formDTO) }}

    {{ form_row(formDTO.dateTimeStart) }}
    {{ form_row(formDTO.dateTimeEnd) }}
    {{ form_row(formDTO.organizer) }}
    {{ form_row(formDTO.subscribe) }}
    {{ form_row(formDTO.unsubscribe) }}
    {{ form_row(formDTO.lastTrip) }}

        <button type="submit">Rechercher</button>

    {{ form_end(formDTO) }}

    <section class="trip-list">

        <table>

            <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>Inscrits/Places</th>
                    <th>État</th>
                    <th>Inscrit</th>
                    <th>Mon inscription</th>{# COLONNE TEST CONTROLE VISUEL #}
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>

                {% for trip in trips %}

                    {# CACHE LE TABLEAU DE LA SORTIE EN CREATION POUR LES USERS SAUF POUR L'ORGANIZER #}
                    {% if trip.shape.wording != 'En création' or trip.organizer == app.user %}
                        <tr>

                            <td><a href="{{ path('trip_show', {'id': trip.id}) }}" title="Afficher détails">{{ trip.name }}</a></td>

                            <td>{{ trip.dateTimeStart|date('d-m-Y H:i') }}</td>
                            <td>{{ trip.registrationDeadline|date('d-m-Y H:i') }}</td>
                            <td class="centered-cell">{{ trip.participants|length }} / {{ trip.maxNumbRegistration }}</td>
                            <td>
                                {% if trip.shape %}
                                    {{ trip.shape.wording }}
                                {% else %}
                                    État inconnu
                                {% endif %}
                            </td>
                            <td>
                                {% if app.user %}
                                    {% if trip.participants|length >= trip.maxNumbRegistration %}
                                        <p class="trip-list" title="x">x</p>
                                    {% endif %}
                                {% endif %}
                            </td>

                            {# DEBUT TEST CONTROLE VISUEL #}
                            <td>
                                {% if app.user %}
                                    {% if app.user in trip.participants %}
                                        Inscrit
                                    {% else %}
                                        Non inscrit
                                    {% endif %}
                                    {% if trip.organizer == app.user %}
                                        (Vous êtes l'organisateur)
                                    {% endif %}
                                {% else %}
                                    Non inscrit
                                {% endif %}
                            </td>
                            {# DEBUT TEST CONTROLE VISUEL #}

                            <td>
                                {% if trip.organizer %}
                                    {{ trip.organizer.firstname }} {{ trip.organizer.lastname }}
                                {% else %}
                                    Organisateur inconnu
                                {% endif %}
                            </td>
                            <td>
                                {% if app.user %}

                                    {# ETAT DE LA SORTIE : EN CREATION #############################################}
                                    {% if trip.shape.wording == 'En création' %}

                                        {% if trip.organizer == app.user %}
                                            <a href="{{ path('trip_edit', {'id': trip.id}) }}" title="Modifier">Modifier</a>
                                            <a href="{{ path('trip_publish', {'id': trip.id}) }}" title="Publier">Publier</a>
                                        {% endif %}

                                    {# ETAT DES INSCRIPTIONS DE LA SORTIE : OUVERTES ###############################}
                                    {% elseif trip.shape.wording == 'Ouvertes' %}

                                        {% set isRegistered = false %}
                                        {% for participant in trip.participants %}
                                            {% if participant.id == app.user.id %}
                                                {% set isRegistered = true %}
                                            {% endif %}
                                        {% endfor %}

                                        {% if isRegistered %}
                                            <a href="{{ path('trip_show', {'id': trip.id}) }}" title="Afficher">Afficher</a>
                                            <a href="{{ path('trip_unsubscribe-trip', {'id': trip.id}) }}" title="Se désister">Se désister</a>
                                        {% else %}
                                            {% if trip.participants|length < trip.maxNumbRegistration %}
                                                <a href="{{ path('trip_show', {'id': trip.id}) }}" title="Afficher">Afficher</a>
                                                <a href="{{ path('trip_trip-register', {'id': trip.id}) }}" title="S'inscrire">S'inscrire</a>
                                            {% else %}
                                                <!-- Ne rien afficher -->
                                            {% endif %}
                                        {% endif %}

                                        {% if trip.organizer == app.user %}
                                            <a href="{{ path('trip_cancel', {'id': trip.id}) }}" title="Annuler">Annuler</a>
                                        {% endif %}

                                    {# ETAT DES INSCRIPTIONS DE LA SORTIE : CLOTUREES  #############################}
                                    {% elseif trip.shape.wording == 'Clôturées' %}

                                        {% set isRegistered = false %}
                                        {% for participant in trip.participants %}
                                            {% if participant.id == app.user.id %}
                                                {% set isRegistered = true %}
                                            {% endif %}
                                        {% endfor %}

                                        {% if isRegistered %}
                                            {% if trip.dateTimeStart >= currentDateTime %}
                                                <a href="{{ path('trip_show', {'id': trip.id}) }}" title="Afficher">Afficher</a>
                                                <a href="{{ path('trip_unsubscribe-trip', {'id': trip.id}) }}" title="Se désister">Se désister</a>
                                            {% endif %}

                                        {% else %}
                                            <a href="{{ path('trip_show', {'id': trip.id}) }}" title="Afficher">Afficher</a>
                                        {% endif %}

                                        {% if trip.organizer == app.user %}
                                            <a href="{{ path('trip_cancel', {'id': trip.id}) }}" title="Annuler">Annuler</a>
                                        {% endif %}

                                    {# ETAT DES INSCRIPTIONS DE LA SORTIE : EN COURS  ##############################}
                                    {% elseif trip.shape.wording == 'En cours' %}
                                        <a href="{{ path('trip_show', {'id': trip.id}) }}" title="Afficher">Afficher</a>
                                    {% else %}
                                        <!-- État inconnu -->
                                    {% endif %}

                                {% endif %}

                            </td>

                        </tr>

                    {% endif %}

                {% endfor %}

            </tbody>

        </table>

    </section>
    <a href="{{ path('trip_newTrip') }}" title="Ajouter une sortie"><button class="button user_btn">Ajouter une sortie</button></a>
{% endblock %}