{% extends 'base.html.twig' %}

{% block title %}
    {{ trip.name }} - Détails de la sortie | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>{{ trip.name }}</h1>

    <p>Campus : {{ trip.campus.name }}</p>
    <p>Date et heure de la sortie : {{ trip.dateTimeStart|date('l d F Y à H:i') }}</p>
    <p>Date limite d'inscription : {{ trip.registrationDeadline|date('l d F Y') }}</p>
    <p>Nombre de places : {{ trip.maxNumbRegistration }}</p>
    <p>Durée: {{ trip.duration|date('H:i') }}</p>
    <p>Description: {{ trip.tripInfo }}</p>
    <p>Lieu : {{ trip.place.name}} </p>
    <p>Rue : {{ trip.place.street}}</p>
    <p>Code postal : {{ trip.place.city.postalCode}}</p>
    <p>Ville : {{ trip.place.city.name}}</p>
    <p>Latitude : {{ trip.place.latitude}}</p>
    <p>Longitude : {{ trip.place.longitude}}</p>

    <div class="trip-participants">
        <h3>Liste des participants inscrits</h3>


        <section class="participants-list">
            <form method="post">
                <table>
                    <thead>
                    <tr>
                        <th>Pseudo</th>
                        <th>Nom</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for user in users %}
                        <tr>
                            <td><a href="{{ path('user_other_profil', {'id': user.id}) }}" title="Show participant details">{{ user.username }}</a></td>
                            <td><a href="{{ path('user_other_profil', {'id': user.id}) }}" title="Show participant details">{{ user.firstname }} {{ user.lastname }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </section>
    </div>
{% endblock %}
