{% extends 'base.html.twig' %}

{% block title %}Ajouter une ville | {{ parent() }}{% endblock %}

{% block body %}

    <h2>Gérer les villes</h2>

    <section class="city-list">
        <form method="post">
            <table>
                <thead>
                <tr>
                    <th>Ville</th>
                    <th>Code Postal</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                {% for city in citys %}
                    <tr>
                        <td>{{ city.name }}</td>
                        <td>{{ city.postalCode }}</td>
                        <td>
                            <a href="{{ path('city_edit', {'id': city.id}) }}" title="Modifier">Modifier</a>
                            <a href="{{ path('city_delete', {'id': city.id}) }}" title="Supprimer" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette ville ?')">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}

                <tr>
                    <td class="city-list">
                        {{ form_start(cityForm) }}
                        {{ form_widget(cityForm.name) }}
                    </td>
                    <td class="city-list">
                        {{ form_widget(cityForm.postalCode) }}
                    </td>
                    <td class="city-list">
                        <button class="city-list-add" type="submit">Ajouter</button>
                    </td>
                </tr>

                </tbody>
            </table>
            {{ form_end(cityForm) }}
    </section>

{% endblock %}