<nav class="header-nav">
    <div>
        <a href="{{ path('main_home') }}" title="Home"><img src="{{ asset('img/logo.png') }}" alt="Logo Symfony-projet"></a>
    </div>
    <div style="display: flex; justify-content: flex-end; padding: 6px;">
        <ul style="list-style: none; margin: 0; padding: 0; display: flex; gap: 10px;">
            <li><a href="{{ path('main_home') }}" title="Home">Home</a></li>
            <li><a href="{{ path('app_newTrip') }}" title="New Trip">New Trip</a> </li>
            <li><a href="{{ path('app_campus') }}" title="Campus">Campus</a> </li>
            {% if app.user %}
                <li><a href="{{ path('profile_modification') }}" title="Profile">Profil</a></li>
                <li><a href="{{ path('app_logout') }}" title="Logout">Logout ( {{ app.user.firstname }} )</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
