<nav class="header-nav">
    <div class="header-container">
        <a class ="header-logo" href="{{ path('main_home') }}" title="Home"><img src="{{ asset('img/logo.png') }}" alt="Logo Symfony-projet"></a>
        <ul>
            <li><a href="{{ path('main_home') }}" title="Home">Home</a></li>
            <li><a href="{{ path('app_listTrip') }}" title="List Trip">List Trip</a> </li>
            <li><a href="{{ path('app_campus') }}" title="Campus">Campus</a> </li>
            {% if app.user %}
                <li><a href="{{ path('profile_modification') }}" title="Profile">Profil</a></li>
                <li><a href="{{ path('app_logout') }}" title="Logout">Logout ( {{ app.user.firstname }} )</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
